# --- Web Scraping ---
selenium
webdriver-manager
requests
beautifulsoup4

# --- Data Processing ---
pandas
numpy

# --- File Handling ---
pdfplumber

# --- Database ---
sqlalchemy
pymysql
cryptography