# --- Web Scraping ---
selenium
webdriver-manager
requests
beautifulsoup4

# --- Data Processing ---
pandas
numpy
openpyxl
thefuzz

# --- File Handling ---
pdfplumber

# --- Database ---
sqlalchemy
pymysql
cryptography
alembic
mysql-connector-python

# --- API ---
fastapi 
uvicorn 

# --- Workflow Automation ---
prefect